<div class="row">
  <div class="col-xs-12">
    <h2>Servers</h2>
    <hr />
    <div>
      <label>Server Name:</label>
      <!-- <input
        type="text"
        class=""
        (input)="onUpdateServerName($event)"

      /> -->
      <input
        type="text"
        class=""
        [(ngModel)]="serverName"
      />
      <p>{{ serverName }}</p>
    </div>
    <button
      [disabled]="!allowNewServer"
      (click)="onCreateServer()"
    >Add Server</button>
    <p>{{ serverCreationStatus }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <app-server></app-server>
  </div>
  <div class="col-xs-6">
    <app-server></app-server>
  </div>
</div>
